<?xml version="1.0"?>

<robot name="iai_wasp">

  <link name="base_link">
    <inertial>
      <mass value="1.477" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://iai_rescue_quadrotor/meshes/iai_wasp.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://iai_rescue_quadrotor/meshes/iai_wasp.dae"/>
      </geometry>
    </collision>
  </link>

  <link name="gripper_dock_link"/>
  <joint name="gripper_dock_joint" type="fixed">
    <parent link="base_link"/>
    <child link="gripper_dock_link"/>
    <origin xyz="0.0 0.0 0.033" rpy="0.0 3.1415926535897931 0.0" />
  </joint>

  <link name="recharge_dock_link"/>
  <joint name="recharge_dock_joint" type="fixed">
    <parent link="base_link"/>
    <child link="recharge_dock_link"/>
    <origin xyz="0.0 0.0 -0.066" rpy="0.0 0.0 0.0" />
  </joint>

</robot>
